@model IEnumerable<WebApplicationElComercio.Models.Banco>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.idbanco)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecharegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.idbanco)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecharegistro)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idbanco }) |
                @Html.ActionLink("Details", "Details", new { id = item.idbanco }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idbanco })
            </td>
        </tr>
}
    </tbody>
</table>
